.metadata
ArrayExample
Demo
FileIO
RemoteSystemsTempFiles
SimpleServer
StringDemo
StructureDemo
test
TestSimplePointers
TextIODemo
VectorDemo
*/.settings
*/C++11
*/Debug
*/.cproject
*/.project
ShakespeareInsultGenerator/Nothing.txt
ShakespeareInsultGenerator/SavedInsults.txt
